---
memberCollection: art250-daisy
weekNum: 0
tags:
  - syllabus
  - art250-daisy
layout: base.njk
title: Syllabus
course: "UIC | ART 250 | More-than-human Sonic Ecologies: DIY Hardware for Site-specific Performance and Installation"
instructor: dr. garrett laroy johnson (he/they)
email: glj@uic.edu
term: Spring 2024
time: "Monday & Wednesday 1:00 - 3:30pm"
location: (see course schedule)
---

{# point to term material #}
{% set calendar = calendar.uic.s24 %}
{% set grades = grading.uic %}
{% set attendance = attendance.studio %}

{# course header #}
{% syllabusHeader course, instructor, time, term, location %}
{# course description #}
{% set snippet %}
{% include "./content/description.md"%}
{% endset %}
{% markdown snippet %}

<h2>LEARNING OBJECTIVES</h2>
{% set snippet %}
{% include "./content/objectives.md"%} 
{% endset %} 
{% markdown snippet %}

<h3>Important Dates</h3>
<ul class="list-group">
  {% for d in calendar %}
  <li class="list-group-item">{{d}}</li>
  {% endfor %}
</ul>

<h2>GRADING, ATTENDANCE, PRIVACY, AND ACCOMODATION POLICIES</h2>
{% if grades.note%}
<h5>{{ grades.note }}</h5>
{% endif %}
<h3>Contact / Credit Hour Policies</h3>
<p>{{ grades.contact }}</p>

{% if grades.key %}

<h3>Grading Key</h3>
<ul class="list-group">
  {% for i in grades.key%}
  <li class="list-group-item">{{ i.label}} {{i.description}}</li>
  {% endfor %}
</ul>

{% endif %}

<h3>Attendance</h3>

  {% for i in attendance.description%}
<p>{{i}}</p>
  {% endfor %}
 <h5>makeup</h5>
  <p>{{attendance.makeup}}</p>

  <h3>Grading Breakdown</h3>

  {% set snippet %}
  {% include "./content/breakdown.md" %}
  {% endset %}
  {% markdown snippet %}

{% include "../content/syllabus-stock.html"%}
