---
layout: pcomp/max9744amp.njk
weekNum: 0
course: "UIC | ART 250 | More-than-human Sonic Ecologies: DIY Hardware for Site-specific Performance and Installation"
memberCollection: art250-daisy
tags: art250-daisy

---
