---
layout: base.njk
---

<div class="col-sm-6">
  <h1>Week {{ weekNum }} : {{ title }}</h1>
{% agenda "classtime agenda", goals %}

{% endagenda %}

<div class = "card">
  <h2>Homework</h2>

  {% if tutorial %}
  <h3>Tutorial</h3>
  <div class="row">
    {% for o in tutorial%} {% if o.type == "youtube" %}
    <div class="col-md-6 card" style="padding: 10px">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://youtube.com/embed/{{ o.id }} "
          frameborder="0"
          allow="fullscreen"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    {% elif o.type == "link" %}
    <div class="col-md-6 card" style="padding: 10px">
      <a href="{{ o.url }}">
        <div class="card-header">{{ o.name }}</div>
      </a>
    </div>
    {% elif o.type == "links" %}
    <div class="col-md-6 card" style="padding: 10px">
      <div class="card-header">{{ o.name }}</div>
      <ul class="list-group list-group-flush">
        {% for l in o.links %}
        <a href="{{ l.url }}">
          <li class="list-group-item">{{ l.name }}</li>
        </a>
        {% endfor %}
      </ul>
    </div>
    {% endif%} {% endfor%}
  </div>

  {% endif %} {% if sketch %}
  <h3>{{ sketch.title }}</h3>
  {% for d in sketch.text%}
  <p>{{ d }}</p>
  {% endfor %} {% if sketch.img %}
  <div class="row">
    {% for i in sketch.img%}
    <div class="col-sm-4">
      <a href="/assets/img/{{ i }}">
        <img src="/assets/img/{{ i }}" class="img-thumbnail" />
      </a>
    </div>
    {% endfor%}
  </div>
  {% endif %} {% if sketch.requirements %}
  <h4>requirements</h4>
  <ol>
    {% for r in sketch.requirements%}
    <li>{{ r }}</li>
    {% endfor %}
  </ol>
  {% endif %} {% if sketch.tips %}
  <h4>tips</h4>
  <ol>
    {% for t in sketch.tips%}
    <li>{{ t }}</li>
    {% endfor %}
  </ol>
  {% endif %} {% endif %} {% if readings %}

  <h3>Readings</h3>
  <div class="row">
    {% for r in readings %}
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="row">
          <div class="col-12">
            {% if r.img %}
            <img src="{{ r.img }}" alt="Card image cap" class="img-fluid card-img-top" />
            {% else %}
            <i class="fa-book"></i>
            {% endif %}
          </div>
          <div class="col-12">
            <a href="{{ r.url }}" class="btn btn-dark">
            <div class="card-body">
              <h5 class="card-title">{{ r.name }}</h5>
              <p class="card-text">
                {{ r.description }}
              </p>
              <p class="card-text">by {{ r.authors }}</p>
              
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endif %}

  {{ content | safe}}

  {% if listenings %}
  <h3>Listenings</h3>
  <div class="row masonry" data-masonry='{"percentPosition": true }'>
    {% for l in listenings%} {% if l.type == "youtube" %}
    <div class="col-md-6 card" style="padding: 10px">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://youtube.com/embed/{{ l.id }} "
          frameborder="0"
          allow="fullscreen"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    {% elif l.type == "link" %}
    <div class="col-md-6 card" style="padding: 10px">
      <a href="{{ l.url }}">
        <div class="card-header">{{ l.name }}</div>
      </a>
    </div>

    {% elif o.type == "links" %}
    <div class="col-md-6 card" style="padding: 10px">
      <div class="card-header">{{ o.name }}</div>
      <ul class="list-group list-group-flush">
        {% for o in l.links %}
        <a href="{{ o.url }}">
          <li class="list-group-item">{{ o.name }}</li>
        </a>
        {% endfor %}
      </ul>
    </div>
    {% endif%} {% endfor%}
  </div>

  {% endif %} 
</div>
<div class = "card">
  <h3>Examples</h3>
  
{% p5gallery "src/scripts/introp5/" + weekNum %}

{# 
  {% elif e.type == "gist"%}

  <script src="https://gist.github.com/{{ e.url }}.js"></script>

  {% elif e.type == "p5collection" %}

  <a href="{{e.url}}">{{e.name}}</a>
  {% elif e.type == "p5" %}

  <iframe
    width="100%"
    height="400"
    src="https://editor.p5js.org/{{ e.url }}"
  ></iframe>

  {% endif %} {% endfor %} {% endif %} 
  #}
  </div>
  
  {% if other %} 
  
  <h3>Other Materials</h3>
  <div class="row masonry" data-masonry='{"percentPosition": true }'>
  
    {% for o in other%} {% if o.type == "youtube" %}
    <div class="col-md-6 card" style="padding: 10px">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://youtube.com/embed/{{ o.id }} "
          frameborder="0"
          allow="fullscreen"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    {% elif o.type == "link" %}
    <div class="col-md-6 card" style="padding: 10px">
      <a href="{{ o.url }}">
        <div class="card-header">{{ o.name }}</div>
      </a>
    </div>
    {% elif o.type == "image" %}

    <div class="col-sm-6">
      <a href="/assets/img/{{ o.url }}">
        <img src="/assets/img/{{ o.url }}" class="img-thumbnail" />
      </a>
    </div>

    {% elif o.type == "links" %}
    <div class="col-md-6 card" style="padding: 10px">
      <div class="card-header">{{ o.name }}</div>
      <ul class="list-group list-group-flush">
        {% for l in o.links %}
        <a href="{{ l.url }}">
          <li class="list-group-item">{{ l.name }}</li>
        </a>
        {% endfor %}
      </ul>
    </div>
    {% endif%} {% endfor%}
  </div>

  {% endif %} {# {%if page.url != pagination.href.first %}
  <p>
    <a href="{{ pagination.href.previous }}"
      >previous week: {{ pagination.pageNumber }}.
      {{ pagination.page.previous.title }}</a
    >
  </p>
  {% endif %} {%if page.url != pagination.href.last %}
  <p>
    <a href="{{ pagination.href.next }}"
      >next week: 1. {{ pagination.pageNumber + 2 }}.
      {{ pagination.page.next.title }}</a
    >
  </p>
  {% endif %} #}
</div>




<div class="col-sm-2 pull-right card">
  <div class="card-header">Key Concepts:</div>
  <ul class="list-group list-group-flush">
    {% for c in concepts %}
    <li class="list-group-item">{{ c }}</li>
    {% endfor %}
  </ul>
  {% if code %}
  <div class="card-header">Coding Components:</div>
  {% endif %}
  <ul class="list-group">
    {% for c in code %} {% if reference == "p5" %} {% set cd = c.split("(")[0]
    %} {% set cd = cd.split(" ").join("") %}

    <a href="https://p5js.org/reference/p5/{{ cd }}">
      <li class="list-group-item">{{ c }}</li>
    </a>

    {% elseif reference == "processing" %} {% set cd = c.split("(")[0] %} {% set
    cd = cd.split(" ").join("") %}

    <a href="https://processing.org/reference/{{ cd }}.html">
      <li class="list-group-item">{{ c }}</li>
    </a>
    {% elseif reference == "max" %}

    <a href="https://docs.cycling74.com/max8/refpages/{{ c }}">
      <li class="list-group-item">{{ c }}</li>
    </a>

    {% endif %} {% endfor %}
  </ul>
  {% if refExamples %}
  <div class="card-header">Examples</div>
  {% endif %}
  <ul class="list-group">
    {% for e in refExamples%} {% if reference == "p5" %} {% set ed =
    e.split("(")[0] %} {% set ed = ed.split(" ") %}

    <a href="https://p5js.org/examples/{{ ed | slugify }}.html">
      <li class="list-group-item">{{ e }}</li>
    </a>
    {% elseif reference == "processing" %} {% endif %} {% endfor %}
  </ul>
  {% if functions %}
  <div class="card-header">Coding Functions:</div>
  <ul class="list-group">
    {% for f in functions %} {% if reference == "p5" %}
    <a href="https://p5js.org/reference/p5/{{ f }}">
      <li class="list-group-item">{{ f }}()</li>
    </a>
    {% elseif reference == "processing" %}
    <a href="https://processing.org/reference/{{ f }}_.html">
      <li class="list-group-item">{{ f }}()</li>
    </a>
    {% endif %} {% endfor %}
  </ul>
  {% endif %}
</div>
