---
weekNum: 0
tags: syllabus
layout: base
title: Syllabus
instructor: Grace Grace (he/they)
email: gjohns13@saic.edu
term: Fall 2026
time: Friday 3:30-6:15pm
location: MacLean 401
---
{# point to term material #}
{% set calendar = calendar.saic.f25 %}
{% set grades = grading.saic %}

{# course header #}
{% syllabusHeader course, instructor, time, term, location %}
{# course description #}
{% set snippet %}
{% include "./content/description.md" %} 
{% endset %}
{% markdown snippet %}


<h2>LEARNING OBJECTIVES</h2>
{% set snippet %}
{% include  "./content/objectives.md" %}
{% endset %} 
{% markdown snippet %}

<h3>Important Dates</h3>
<ul class="list-group">
  {% for d in calendar %}
  <li class="list-group-item">{{d}}</li>
  {% endfor %}
</ul>

<div style = "border-width:10px;border-color:#000">
{% set snippet %}
{% include "./content/schedule.md" %}
{% endset %}
{{ snippet | markdown | safe }}
</div>
<h2>GRADING, ATTENDANCE, PRIVACY, AND ACCOMMODATION POLICIES</h2>

<h3>Grading Breakdown</h3>


{% set snippet %}
{% include  "./content/breakdown.md" %}
{% endset %} 
{% markdown snippet %}


{% if grades.note%}
<h5>{{ grades.note }}</h5>
{% endif %}
<h3>Contact / Credit Hour Policies</h3>
<p>{{ grades.contact3 }}</p>




{% if grades.key %}

<h3>Grading Key</h3>
<ul class="list-group">
  {% for i in grades.key%}
  <li class="list-group-item">{{ i.label}} {{i.description}}</li>
  {% endfor %}
</ul>

{% endif %}



{% set snippet %}
{% include "../content/syllabus-stock.md" %} 
{% endset %} 
{% markdown snippet %}

