.dark-mode {
  background-color: black;
  color: white;
}

cb:after {
  background-color: #4c00b0;
}
.gist {
  font-size: 13px;
  line-height: 18px;
  width: 53em;
}
.gist pre {
  font-family: Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New",
    monospace !important;
}
pre.language-javascript,
pre[class*="language-"] {
  background: #f5f5f5 !important;
  color: #222;
}
pre.language-javascript code,
pre[class*="language-"] code {
  background: transparent !important;
}

blockquote {
  border-width: 10px;
  border-color: black;
}

[aria-current] {
  background-color: #eee;
}

p,
button,
li {
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Silkscreen", cursive;
  /* background-color: black;
  color:white; */
}

body {
  /* background-color: "#b0c7bd"; */
}

a {
  color: #be2ed6;
}

a:hover {
  color: #4c00b0;
}

.nav-butt {
  text-align: left;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

canvas {
  position: relative;
  z-index: -3 !important;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
