---
weekNum: 0
layout: base.njk
title: Syllabus
instructor: dr. garrett laroy johnson (he/they) and tbd.
email: gjohns13@saic.edu
term: Spring 2025
time: "Thursday 09:00am - 3:00pm"
location: Maclean 401
draft: true
---

{# point to term material #}
{% set calendar = calendar.saic.s25 %}
{% set grades = grading.saic %}
   
{# course header #}
{% syllabusHeader course, instructor, time, term, location %} 
{# course description #} 
{% set snippet %}
{% include "./content/description.md"%} 
{% endset %} 
{% markdown snippet %}

<h2>LEARNING OBJECTIVES</h2>
{% set snippet %}
{% include "./content/objectives.md"%} 
{% endset %} 
{% markdown snippet %}


<h3>Important Dates</h3>
<ul class="list-group">
  {% for d in calendar %}
  <li class="list-group-item">{{d}}</li>
  {% endfor %}
</ul>

<h2>GRADING, ATTENDANCE, PRIVACY, AND ACCOMODATION POLICIES</h2>
{% if grades.note%}
<h5>{{ grades.note }}</h5>
{% endif %}
<h3>Contact / Credit Hour Policies</h3>
<p>{{ grades.contact }}</p>

{% if grades.key %}

<h3>Grading Key</h3>
<ul class="list-group">
  {% for i in grades.key%}
  <li class="list-group-item">{{ i.label}} {{i.description}}</li>
  {% endfor %}
</ul>

{% endif %}

{% if grading.breakdown %}

<h3>Grading by Assignment</h3>
<ul class="list-group">
  {% for item in grading.breakdown %}
  <li class="list-group-item">{{ item }}</li>
  {% endfor %}
</ul>
{% endif %}

{% include "../content/syllabus-stock.md"%} 
