---
weekNum: 0
layout: base.njk
title: Syllabus
instructor: dr. grace grace grace (he/they)
email: glj@uic.edu
term: Spring 2026
time: "Monday || Wednesday, 4:00-6:30pm"
location: Online (Zoom link in Blackboard)
des: "/src/uic/art151/content/description.md"
---
{# point to term material #}
{% set calendar = calendar.uic.s26 %}
{% set grades = grading.uic %}

{# course header #}
{% syllabusHeader course, instructor, time, term, location %}
{# course description #}
{% set snippet %}
{% include "./content/description.md" %} 
{% endset %}
{% markdown snippet %}


<h2>LEARNING OBJECTIVES</h2>
{% set snippet %}
{% include  "./content/objectives.md" %}
{% endset %} 
{% markdown snippet %}

<h3>Important Dates</h3>
<ul class="list-group">
  {% for d in calendar %}
  <li class="list-group-item">{{d}}</li>
  {% endfor %}
</ul>

<h2>GRADING, ATTENDANCE, PRIVACY, AND ACCOMODATION POLICIES</h2>

<h3>Grading Breakdown</h3>


{% set snippet %}
{% include  "./content/breakdown.md" %}
{% endset %} 
{% markdown snippet %}


{% if grades.note%}
<h5>{{ grades.note }}</h5>
{% endif %}
<h3>Contact / Credit Hour Policies</h3>
<p>{{ grades.contact }}</p>




{% if grades.key %}

<h3>Grading Key</h3>
<ul class="list-group">
  {% for i in grades.key%}
  <li class="list-group-item">{{ i.label}} {{i.description}}</li>
  {% endfor %}
</ul>

{% endif %}

<h3>Attendance</h3>

  {% for i in attendance.studio.description%}
<p>{{i}}</p>
  {% endfor %}
 <h5>makeup</h5>
  <p>{{attendance.studio.makeup}}</p>






{% set snippet %}
{% include "../content/syllabus-stock.html" %} 
{% endset %} 
{% markdown snippet %}

