---
layout: week.njk
title: "Arrays"
weekNum: 13
tags:
  - p5
  - unit3
  - week
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      img: "{{ texts.p5.img }} "
      description: Chapters 11. Arrays
sketch:
  title: "Coding Sketch: Objects and Arrays"
  text:
    - Create a p5 sketch in which you compose *your own* object to animate a shape.
    - Bonus, use arrays to create and control multiple objects
  requirements:
    - accept a color parameter to assign as one of its properties (e.g. this.color)
    - define and use 2 methods, one to move and one to show
    - the object should be called four different times with four different colors. Call their move and show methods inside the draw loop.
concepts:
  - abstraction
  - modularity
  - reusability
code:
  - function
  - object
  - class
examples:
  - type: p5
    url: gjohns13-spectacular/full/Ypeoo3GTW
  - type: p5
    url: gjohns13-spectacular/full/_n2aMiIx2
  - type: p5
    url: gjohns13-spectacular/full/ROO8gCckj
  - type: p5
    url: gjohns13-spectacular/full/C5N1vrgQg
  - type: p5
    url: gjohns13-spectacular/full/rJERSWLLo
  - type: p5
    url: gjohns13-spectacular/full/MHeR64b6a
  - type: p5
    url: glj/full/mdJnP7MbK
  - type: p5
    url: glj/full/OCHdd5YWS
  - type: p5
    url: glj/full/27ru6sUR7
other:
  - type: youtube
    id: VIQoUghHSxU
  - type: youtube
    id: QHj6Vs56J54
  - type: youtube
    id: pGkSHeEZLMU
  - type: youtube
    id: fBqaA7zRO58
---
