---
layout: week.njk
title: "Project 3 - New Art City"
weekNum: 15
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce next unit
sketch:
  title: "Project 3 - Online Gallery Show" 
  text:
    - Let's bring it all together. Create a new artowrk in p5*js and display it in our New Art City space. You are encouraged to use New Art City's expansive functionality to create an engaging world composed of many different objects composed of textures or images you have made in p5 or from Miss Sammie's Garden. 
  requirements: 
    - You need to use at least one image or video from something you have made in p5.js using save() or saveGif().
    - You can work in the LOBBY or in your own space. That is up to you. You will have more freedom in your own space. If you made your own space, you need to have a portal from the lobby to your space and to make that clear and visible to visitors. 

  eleventyComputed:
    readings:
      - name: "{{ texts.p5.title }}"
        url: "{{ texts.p5.url }}"
        description: Review Chapters 10, 11 as needed.
        img: "{{ texts.p5.img }} "
---
