---
layout: week.njk
title: Randomness & Conditionals
weekNum: 5
tags:
  - p5
  - project
goals:
  - random() + randomSeed() tutorial
  - if / else tutorials
  - for loop etudes (in class assignment)
  - In-class work time
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapter 8. Review Chapters 3, 4, 5 as needed.
      img: "{{ texts.p5.img }} "
      authors: "{{ texts.p5.authors }} "
  concepts:
    - randomness
code:
  - random
  - randomSeed
  - noise
  - noiseSeed
  - if-else
screenings: 
- "qtPi0JvmWbs"
other:
  - type: youtube
    id: 1Osb_iGDdjk
  - type: youtube
    id: 7A5tKW9HGoM
  - type: youtube
    id: h279eYIROIM
  - type: youtube
    id: asvnmtVjeEk
examples:
  - type: p5
    url: glj/sketches/GGiKCyNZS
  - type: p5
    url: glj/sketches/GGiKCyNZS
  - type: p5
    url: glj/sketches/6P6wzHzuw
  - type: p5 
    url: glj/sketches/pjOez9GTv
  - type: p5 
    url: glj/sketches/pjOez9GTv
  - type: p5
    url: glj/sketches/6mE5Alx6Z
  - type: p5
    url: glj/sketches/mzFSU4Xra
  - type: p5  
    url: glj/sketches/SqR_zqnil
  - type: p5 
    url: glj/sketches/QS_ROUvWZ
sketch:
  title: "Coding Sketch: Noise"
  text:
    - Create one sketch that uses noise() and a nested for loop.   
---

{# sketch: title: "Project 1 Proposal" text: - Submit a short 200 word proposal
for your project. Include details about the coding techniques you will use as
well as your artistic intent. #}
