---
layout: week.njk
title: Nested For Loops and Random
examples: 
- type: p5
  url: garrett.laroy.johnson/sketches/a0teAl9ar
- type: p5
  url: glj/sketches/x1ttAnNGe
- type: p5
  url: glj/sketches/QFfdihI1q
- type : p5
  url: glj/sketches/bLizw0E0W
- type: p5
  url: glj/full/zxrt_bxfo
- type: p5
  url: glj/sketches/XWdycLhwm
- type: p5  
  url: glj/sketches/Rjk7n-xe2
- type: p5
  url: glj/sketches/GGiKCyNZS
- type: p5
  url: glj/sketches/6P6wzHzuw
screenings: 
  - "5ETrXegVj_g"
  - "xzn5XSqOVJA"

  
tags:
  - p5
  - intro
  - week
concepts: 
  - nested for loops
  - randomness 
  - controlled randomness 
goals:
  - "Share and Discuss Coding Sketch"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch"
  - Intro Project 1
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapter 3.
      img: "{{ texts.p5.img }} "
      authors: "{{ texts.p5.authors }} "
sketch:
  title: "Coding Sketch: Nested For Loops + Variations"
  text:
    - Create a nested for loop. Use it to draw shapes to the canvas (in a grid, or otherwise). 
    - Add another factor to the for loop to change drawing parameters iteratively to distort the grid, change the color, or some other variations.
---

I heard you like **for loops** -- so this week we're going to take a **for loop** and put it in another **for loop**. 

As we learned last week, repetition is a key element of dialing up the complexity of our visual compositions by taking advantage of something a computer is very good at doing.  

