---
layout: week.njk
weekNum: 6
title: "Project 1: Generative Drawing Machine"
goals:
 - show and critique the generative drawing machine
functions:
  - save
  - random
  - randomSeed
  - noise
  - noiseSeed
screenings:
- "O5G4SoWBoao"
tutorial:
  - type: youtube
    id: videoseries?list=PLzw5ecWso_zQG2czpKXrsIlMp_ZsSgtdm
examples:
- type: p5
  url: gjohns13-spectacular/full/fXjII012Y
- type: p5
  url: glj/full/NzWavvW8b
- type: p5
  url: glj/full/OkYK85hM0
- type: p5
  url: gjohns13-spectacular/full/X9S4j3YCa
- type: p5
  url: glj/sketches/nIjiioARo
- type: p5
  url: glj/full/wf-DYmyyj
- type: p5
  url: glj/full/PgwFxN1VY
- type: p5
  url : garrett.laroy.johnson/sketches/1wfnu3hWz
- type: p5
  url : garrett.laroy.johnson/sketches/1wfnu3hWz  
- type: p5
  url: glj/sketches/g5V92UETM
- type: p5
  url: glj/sketches/3Pn0mlmQ3
- type: p5
  url: glj/sketches/pjOez9GTv
- type: p5collection
  url: https://editor.p5js.org/gjohns13-spectacular/collections/bMjqSEwLI
  name: for loop examples
- type: p5
  url : glj/sketches/lth5QK_i7
sketch:
  title: "Project 1: Generative Drawing Machine"
  requirements:
    - use at least one for loop. Some A-level projects may use only one, but it's very likely you will need to us a nested for loop or more.
    - use at least global 4 variables that can be changed to influence the outcome of your generative drawing machine  
    - use randomSeed() or noiseSeed() and select one final version of your compositions
    - you are present for critique and participate in others' critique
  text:
    - Using p5*js, create a drawing machine. Think of this as a compositional system -- be able to change variables to change the kind of outputs you get. You can visualize whatever you want, but try not to simply copy and paste code from various sketches… understanding what the code is doing is super important!
 

---
