---
layout: week.njk
title: "Transformations and Media"
tags:
  - p5
  - unit2
  - week
goals:
  - "Share and Discuss Coding Sketch"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch"
  - Intro Movement and Incrementing Variables
  - "Start work on Coding Sketch"
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapters 6 + 7
      img: "{{ texts.p5.img }} "
      authors: "{{ texts.p5.authors }} "
code:
  - translate
  - rotate
  - scale
  - degreeMode
  - rectMode
  - ellipseMode
  - push
  - pop
  - image
  - loadImage
  - filter
  - tint
examples:
  - type: p5
    url: gjohns13-spectacular/full/lbj8rzt6N
  - type: p5
    url: gjohns13-spectacular/full/qEIJPfrUG
  - type: p5
    url: gjohns13-spectacular/full/D1dXNBM1T
  - type: p5
    url: glj/full/6bB_fwmRL
  - type: p5
    url: glj/full/g4iRttK10
  - type: p5
    url: glj/full/TN79b3WtY
  - type: p5
    url: glj/full/Cnc-cc5Ku
  - type: p5
    url: glj/full/78U8qbjyE
sketch:
  title: "Coding Sketch: Transformations and Media"
  text:
    - Use at least one image
    - upload them to p5
    - use at least one transformation 
    - use at least one tint or filter 
    - animate your images using changing variables


other:
  - type: youtube
    id: o9sgjuh-CBM
  - type: youtube
    id: maTfm84mLbo
  - type: youtube
    id: b12wJHBcrE0
---

{# - type: p5 url: gjohns13-spectacular/full/R5cTboCin - type: p5 url:
gjohns13-spectacular/full/2oh104BfA - type: p5 url:
gjohns13-spectacular/full/IIcerF02i - type: p5 url:
gjohns13-spectacular/full/B5uzNLDP2 - type: p5 url:
gjohns13-spectacular/full/GX1qy-T6o - type: p5 url: glj/full/L2bhGJfC6 - type:
p5 url: glj/full/Z2leJttLz - type: p5 url: glj/full/ZChT09YSN #}
